In [1]:
# !wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

--2023-04-01 19:15:15--  https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 104.21.23.210, 172.67.213.166
Connecting to lazyprogrammer.me (lazyprogrammer.me)|104.21.23.210|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5085081 (4.8M) [text/csv]
Saving to: ‘bbc_text_cls.csv’

bbc_text_cls.csv    100%[===================>]   4.85M  2.19MB/s    in 2.2s

2023-04-01 19:15:21 (2.19 MB/s) - ‘bbc_text_cls.csv’ saved [5085081/5085081]

In [3]:
from transformers import pipeline

In [4]:
fm = pipeline("fill-mask")

No model was supplied, defaulted to distilroberta-base (https://huggingface.co/distilroberta-base)

Downloading:   0%|          | 0.00/480 [00:00<?, ?B/s]

Metal device set to: Apple M1 Pro

2023-04-01 19:16:16.991809: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-04-01 19:16:16.991934: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Downloading:   0%|          | 0.00/316M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/878k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/446k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.29M [00:00<?, ?B/s]

In [5]:
import pandas as pd
import numpy as np
import textwrap
from pprint import pprint

In [6]:
df = pd.read_csv("./data/bbc_text_cls.csv")
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [8]:
labels = set(df["labels"])
labels

{'business', 'entertainment', 'politics', 'sport', 'tech'}

In [9]:
label = "business"

In [10]:
texts = df[df["labels"] == label]["text"]
texts

0      Ad sales boost Time Warner profit\n\nQuarterly...
1      Dollar gains on Greenspan speech\n\nThe dollar...
2      Yukos unit buyer faces loan claim\n\nThe owner...
3      High fuel prices hit BA's profits\n\nBritish A...
4      Pernod takeover talk lifts Domecq\n\nShares in...
                             ...
505    Trial begins of Spain's top banker\n\nThe tria...
506    UK economy ends year with spurt\n\nThe UK econ...
507    HealthSouth ex-boss goes on trial\n\nThe forme...
508    Euro firms miss out on optimism\n\nMore than 9...
509    Lacroix label bought by US firm\n\nLuxury good...
Name: text, Length: 510, dtype: object

In [11]:
np.random.seed(42)

In [16]:
doc = np.random.choice(texts)

In [18]:
pprint(doc)

('ECB holds rates amid growth fears\n'
 '\n'
 'The European Central Bank has left its key interest rate unchanged at 2% for '
 'the 19th month in succession.\n'
 '\n'
 'Borrowing costs have remained on hold amid concerns about the strength of '
 'economic growth in the 12 nations sharing the euro, analysts said. Despite '
 'signs of pick-up, labour markets and consumer demand remain sluggish, while '
 'firms are eyeing cost cutting measures such as redundancies. High oil '
 'prices, meanwhile, have put upward pressure on the inflation rate.\n'
 '\n'
 'Surveys of economists have shown that the majority expect borrowing costs to '
 'stay at 2% in coming months, with an increase of a quarter of a percentage '
 'point predicted some time in the second half of the year. If anything, there '
 'may be greater calls for an interest rate cut, especially with the euro '
 'continuing to strengthen against the dollar. "The euro land economy is still '
 'struggling with this recovery," said economist Dirk Schumacher. The ECB "may '
 'sound rather hawkish but once the data allows them to cut again, they will." '
 'Data coming out of Germany on Thursday underlined the problems facing '
 "European policy makers. While Germany's economy expanded by 1.7% in 2004, "
 'growth was driven by export sales and lost some of its momentum in the last '
 'three months of the year.\n'
 '\n'
 'The strength of the euro is threatening to dampen that foreign demand in '
 '2005, and domestic consumption currently is not strong enough to take up the '
 'slack. Inflation in the eurozone, however, is estimated at about 2.3% in '
 'December, above ECB guidelines of 2%. ECB President Jean-Claude Trichet has '
 'remained upbeat about prospects for the region, and inflation is expected to '
 'drop below 2% later in 2005. The ECB has forecast economic growth in the '
 'eurozone of 1.9% in 2005.')

In [20]:
fm("The European Central Bank has left its key <mask> rate unchanged at 2% for the 19th month in succession.")

[{'score': 0.5302468538284302,
  'token': 773,
  'token_str': ' interest',
  'sequence': 'The European Central Bank has left its key interest rate unchanged at 2% for the 19th month in succession.'},
 {'score': 0.24895532429218292,
  'token': 6946,
  'token_str': ' lending',
  'sequence': 'The European Central Bank has left its key lending rate unchanged at 2% for the 19th month in succession.'},
 {'score': 0.11526511609554291,
  'token': 8068,
  'token_str': ' deposit',
  'sequence': 'The European Central Bank has left its key deposit rate unchanged at 2% for the 19th month in succession.'},
 {'score': 0.02119693160057068,
  'token': 27640,
  'token_str': ' repo',
  'sequence': 'The European Central Bank has left its key repo rate unchanged at 2% for the 19th month in succession.'},
 {'score': 0.018192840740084648,
  'token': 2081,
  'token_str': ' exchange',
  'sequence': 'The European Central Bank has left its key exchange rate unchanged at 2% for the 19th month in succession.'}]

In [25]:
fm("ECB President <mask>-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.")

[{'score': 0.9949487447738647,
  'token': 5363,
  'token_str': ' Jean',
  'sequence': 'ECB President Jean-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.'},
 {'score': 0.0019337671110406518,
  'token': 9340,
  'token_str': ' Marie',
  'sequence': 'ECB President Marie-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.'},
 {'score': 0.0014969523763284087,
  'token': 11300,
  'token_str': ' Pierre',
  'sequence': 'ECB President Pierre-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.'},
 {'score': 0.0013018702156841755,
  'token': 24575,
  'token_str': ' Claude',
  'sequence': 'ECB President Claude-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.'},
 {'score': 0.00010264200682286173,
  'token': 13047,
  'token_str': ' Nicolas',
  'sequence': 'ECB President Nicolas-Claude Trichet has remained upbeat about prospects for the region, and inflation is expected to drop below 2% later in 2005.'}]